<div class="modal-content">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title w-100 font-weight-bold">Choose your dates 3/4</h4>
  </div>
  <div class="modal-body">
    <div class="selecteddates"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <%= simple_form_for(Choice.new, url: poll_choices_path(@poll), method: :post, remote: true) do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: { id: "range_start" } %>
            <%= f.input :end_date, as: :string, required: false, input_html: { id: "range_end" } %>
            <div class="text-center">
              <%= f.button :submit, "Add dates", class: "btn btn-action" %>
              <%= link_to "Next step", new_event_guest_path(@event), class: "btn btn-action-black-green disabled", remote: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
