<div class="modal-content">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title w-100 font-weight-bold">Choose your dates 3/4</h4>
  </div>
  <div class="modal-body">
    <div class="row selecteddates">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <%= simple_form_for(Choice.new, url: poll_choices_path(@poll), method: :post, remote: true) do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Add dates", class: "btn btn-action" %>
            <% if current_user.events.last.polls.last.choices.last.choice_type == "date" %>
              <%= link_to "Next step", new_event_guest_path(@event), class: "btn btn-action", remote: true %>
            <% else %>
              <%= link_to "Next step", new_event_guest_path(@event), class: "btn btn-action", remote: true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
