<div class="container first_poll_results answer-form-1">
  <div class="info-desti-choice">

    <h1 class="text-center" id="nameEvent">
      <%= @poll.event.name %>
    </h1>
    <h5 class="text-center">Regarding your friends votes :</h5>
    <h5 class="text-center">The favorite dates are from <%= l(@poll.event.start_date, format: "%a %e %b") %> to <%= l(@poll.event.end_date, format: "%a %e %b") %></h5>
    <img class="icon-theme-choice" src="<%= image_path @poll.event.theme.photo %>" alt="" />

    <h5 class="text-center">
      And <strong><%= @poll.event.theme.name %></strong> theme won!
    </h5>
    <p class="text-center">
      <%= @poll.event.user.name.capitalize %>, we found you awesome <strong>"<%= @poll.event.theme.name %>"</strong> destinations where the average daily and travel costs are the closests matches to your average budget group
    </p>

    <p class="text-center">
      <strong>Pick up to 6 destinations</strong> and click on the magic button bellow!
    </p>
  </div>

  <!-- ligne 28, class à changer pour renvoyer vers class -> createdestinationchoices-choice-action + ds l'input, name="answer params[:answer][:destination_ids] -->

  <%= simple_form_for [@poll], url: create_destination_choices_poll_choices_path(@poll), method: :post do |f| %>
    <div class="list-group">
      <%= render 'choices/cards', destinations: Destination.where(theme_id: @event.theme_id) %>
    </div>

    </br>
    <div class="btn-center">
      <div class="create-answer-action">
        <%= f.submit "Submit your choices and send final votes requests to your guests", id: "dirty-button1", class: "btn-action-black-green" %>
      </div>
    </div>

    <br>
  <% end %>
</div>

