<div class="container first_poll_results answer-form-1">
  <div class="info-desti-choice">

    <h1 class="text-center" id="nameEvent">
      <%= @poll.event.name %>
    </h1>
    <h5 class="text-center">The dates ranging from </span><%= l(@poll.event.start_date, format: "%a %e %b") %> to <%= l(@poll.event.end_date, format: "%a %e %b") %> and the theme <%= @poll.event.theme.name %></strong> have collected the highest number of votes among your guests!

    </h5>
    <p class="text-center">
      <%= @poll.event.user.name.capitalize %>, we found you awesome <strong>"<%= @poll.event.theme.name %>"</strong> destinations with estimated budget matching your guests constraints. Pick up some and submit your choices:
    </p>

    <p class="text-center">

    </p>
  </div>

  <!-- ligne 28, class à changer pour renvoyer vers class -> createdestinationchoices-choice-action + ds l'input, name="answer params[:answer][:destination_ids] -->

  <%= simple_form_for [@poll], url: create_destination_choices_poll_choices_path(@poll), method: :post do |f| %>
    <div class="list-group">
      <%= render 'choices/cards', destinations: Destination.where(theme_id: @event.theme_id) %>
    </div>

    </br>
    <div class="btn-center">
      <div class="create-answer-action">
        <%= f.submit "Propose destinations to your guests", id: "dirty-button1", class: "btn btn-action-black-green" %>
      </div>
    </div>

    <br>
  <% end %>
</div>

<%= render 'events/formnewevent' %>
