<%= simple_form_for [event, guest, answer] do |f| %>

  <% Choice.all.select { |choice| choice.poll_id == Poll.find_by(event_id: @event.id).id && choice.choice_type == "date"}.each do |choice| %>
    <input type="checkbox" class="hidden list-group-item choice-date" value="<%= choice.id %>" name="answer[chosen_date_ids][]" id="post_category_ids_<%= choice.id %>">
    <label class="list-group-item choice-date" for="post_category_ids_<%= choice.id %>">RENDER HERE</label>
    <% end %>

  </div>

  <div class="create-answer-action">
    <%= f.submit "Submit your answer", id: "dirty-button1", class: "btn-action-black-green" %>
  </div>

<% end %>
