<div class="modal-content">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title w-100 font-weight-bold">Create an event</h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <h4>Invite your friends </h4>
          <%= simple_form_for(Guest.new, url: guests_path, method: :post, remote: true) do |f| %>
            <div class="form-inputs">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name" } %>
              <%= f.input :email,
                          required: true,
                          input_html: { autocomplete: "email" } %>
            </div>
            <%= f.button :submit, "Add guest", class: "btn btn-action" %>
            <% if !current_user.events.last.guests.last.nil? %>
              <%= link_to "Next step", events_path, class: "btn btn-action", remote: true %>
            <% else %>
              <%= link_to "Next step",  events_path, class: "btn btn-action disabled", remote: true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


