<div class="modal-content">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title w-100 font-weight-bold">Invit your friends 4/4</h4>
  </div>
  <div class="modal-body">
    <div class="selectedguests"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <%= simple_form_for(Guest.new, url: event_guests_path(@event), method: :post, remote: true) do |f| %>
            <div class="form-inputs">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name" } %>
              <%= f.input :email,
                          required: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :phone_number,
                          required: true,
                          input_html: { autocomplete: "phone number" } %>
            </div>
            <%= f.button :submit, "Add guest", class: "btn btn-action" %>
            <% if !current_user.events.last.guests.last.nil? %>
              <%= link_to "Finish and send invitations", finish_guest_invits_event_path(@event), method: :patch, class: "btn btn-action" %>
            <% else %>
              <%= link_to "Finish and send invitations",  finish_guest_invits_event_path(@event), method: :patch, class: "btn btn-action" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


