<div class="container-fluid dashboard">
  <% if event.step == 1 %>
  <div class="row steps">
    <br>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer1">
        <p class="text-center" id="step1">Step 1</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer2">
        <p class="text-center" id="step2">Step 2</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer3">
        <p class="text-center" id="step3">Step 3</p>
      </div>
    </div>
  </div>
  <!-- <ul class="list-inline titlebtn"> -->
  <div class="text-center list-unstyled" id="nameEvent"><%= event.name %></div>
  <!-- </ul> -->
  <div class="row core-dashboard">
    <div class="col-xs-12 col-sm-3 guests-dashboard">
      <h1 class="maintitle">Guests list</h1>
      <div class="guestborder">
        <% @event.guests.each do |guest| %>
          <ul class="list-inline status-guest-list">
            <li><%= guest.name %></li>
            <% if guest.status == 0 %>
              <li class="status-pending"><%= "Pending"  %></li>
            <% elsif guest.status == 1 %>
              <li class="status-voted"><%= "Voted" %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 votes-dashboard">
    <h1 class="maintitle">Votes</h1>
      <div class="statisticborder">
        <div class="row">
          <div class="col-xs-12 col-sm-6 date-vote">
            <p class="titledash">Dates</p>
            <canvas id="myChart" width="400" height="160"
              data-dates= "<%= @poll_dates_value %>"
              data-labels= "<%= @poll_dates %>" ></canvas>
          </div>
          <div class="col-xs-12 col-sm-6 theme-vote">
            <p class="titledash">Themes</p>
            <canvas id="myChart2" width="400" height="160"
              data-themes= "<%= @poll_themes_value %>"
              data-labels= "<%= @poll_themes %>" ></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 budget-vote">
            <p class="titledash">Budgets</p>
            <canvas id="myChart3" width="200" height="40"
            data-budgets="<%= @poll_budgets_value %>"
            data-labels= "<%= @poll_budgets %>" ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center"><%= link_to "Next step", spinner_path(event), class: "btn btn-action-black-green" %></div>
  </div>

  <% elsif event.step == 2 %>
  <div class="row steps">
    <br>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer12">
        <p class="text-center" id="step12">Step 1</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer22">
        <p class="text-center" id="step22">Step 2</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer32">
        <p class="text-center" id="step32">Step 3</p>
      </div>
    </div>
  </div>
  <!-- <ul class="list-inline titlebtn"> -->
  <div class="text-center list-unstyled" id="nameEvent"><%= event.name %></div>

  <!-- </ul> -->
  <div class="row core-dashboard">
    <div class="col-xs-12 col-sm-3 guests-dashboard">
      <h1 class="maintitle">Guests list</h1>
      <div class="guestborder">
        <% @event.guests.each do |guest| %>
          <ul class="list-inline status-guest-list">
            <li><%= guest.name %></li>
            <% if guest.status == 1 %>
              <li class="status-pending"><%= "Pending"  %></li>
            <% elsif guest.status == 2 %>
              <li class="status-voted"><%= "Voted" %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-9 votes-dashboard">
      <div class="row">
        <div class="col-xs-12 col-sm-6 summary">
          <h1 class="maintitle">Trip summary</h1>
            <ul class="text-center summarycont">
              <h6>Date:</h6>
              <li class = "list-unstyled"><%= l(@event.start_date, format: "%b %d, %Y") %> - <%= l(@event.end_date, format: "%b %d, %Y") %></li>
              <h6>Theme:</h6>
              <li class = "list-unstyled"><%= image_tag @event.theme.photo, class: "mini-img-theme" %></li>
              <li class = "list-unstyled"> <%= @event.theme.name %></li>
              <h6>Estimated budget:</h6>

              <li class = "list-unstyled"><%= @event.budget %>€</li>
              <br>
              <div class="text-center" ><%= link_to "Final step", event_path(@event), method: :patch, class: "btn btn-action-black-green" %></div>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 destination-vote">
          <h1 class="maintitle">Destinations votes</h1>
          <div class="statisticborder">
            <!-- <p class="titledash">Destination scores</p> -->
            <canvas id="myChart4" width="200" height="170"
            data-destinations="<%= @poll_destinations_value %>"
            data-labels= "<%= @poll_destinations %>" ></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% elsif event.step == 3 %>
  <div class="row steps">
    <br>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer13">
        <p class="text-center" id="step13">Step 1</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer23">
        <p class="text-center" id="step23">Step 2</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 step">
      <div id="pointer33">
        <p class="text-center" id="step33">Step 3</p>
      </div>
    </div>
  </div>
  <h1 class="text-center" id="nameEvent"><%= event.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="summarycont2">
        <br>
        <p class="text-center"> </p> <!-- please find below a recap of our incoming trip -->
          <ul class="text-center" style="margin-top: -25px">
            <li class = "list-unstyled infoimporttitle"><%= @event.destination.name %></li>
            <!-- <p>Dates:</p> -->
            <li class = "list-unstyled infoimport"><%= l(@event.start_date, format: "%b %d, %Y") %> - <%= l(@event.end_date, format: "%b %d, %Y") %></li>
            <!-- <p>Estimated budget:</p> -->
            <% days = (@event.end_date - @event.start_date).to_i %>
            <% total2 = days.to_i * @event.destination.average_daily_cost + @event.destination.travel_cost %>
            <li class = "list-unstyled infoimport">Estimated budget: <%= total2 %>€</li>
            <!-- <p>Destination:</p> -->
            <br>
            <img class="imagedesti" src="<%= image_path @event.destination.photo %>" alt="" />
          </ul>
        <h5 class="text-center destsentence"><%= @event.destination.name %> here we come!!!</h5>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 endinfo">
      <h5 class="text-center dashtitle3" >For your trip</h5>
      <h2 class="text-center dashtitle4">Transport</h2>
      <ul class="list-inline text-center brandlogo">
        <li class="list-unstyled brandlogo2">
          <%= link_to("https://www.trainline.fr/") do %>
          <%= image_tag("logotrainline.png", height: 50)  %>
          <% end %></li>
          <li  class="list-unstyled brandlogo2">
            <%= link_to("https://www.skyscanner.fr/") do %>
            <%= image_tag("logoskyscanner.png", height: 100)  %>
            <% end %></li>
      </ul>
      <h2 class="text-center dashtitle4">Accomodation</h2>
      <ul class="list-inline text-center brandlogo">
        <li class="list-unstyled brandlogo2">
          <%= link_to("https://www.airbnb.fr/") do %>
          <%= image_tag("logoairbnb.png", height: 50)  %>
          <% end %></li>
        <li class="list-unstyled brandlogo2">
          <%= link_to("https://www.booking.com/index.fr.html") do %>
          <%= image_tag("logobooking.png", height: 150)  %>
          <% end %></li>
      </ul>
      <h2 class="text-center dashtitle4">Budget</h2>
      <ul class="list-inline text-center brandlogo">
        <li class="list-unstyled brandlogo2">
        <%= link_to("https://www.leetchi.com") do %>
        <%= image_tag("logoleetchi.png", height: 120)  %>
        <% end %></li>
        <li class="list-unstyled brandlogo2">
        <%= link_to("https://www.tricount.com/fr/faire-les-comptes-entre-amis") do %>
        <%= image_tag("logotricount.png", height: 100)  %>
        <% end %></li>
      </ul>
    </div>
  </div>
  <% else %>
    <p>Your event in close</p>
  <% end %>
  <!-- <div class="btn-close" id="spinnerbtn" data-event_id='<%= @event.id %>'>spinner test</div> -->
</div>
