<div class="container-fluid">
  <h1>My events</h1>
  <!-- NE PAS SUPPRIMER Renvoie la modal lorsqu'on click sur le bouton add trip -->
  <%= render 'events/formnewevent' %>
  <!-- tabs row -->
  <div class="row">
    <div class="tabs">
      <% @myevents.each do |event| %>
        <a href="<%= event_path(event) %>" class="tab <%= "active" if @myevents.first == event %>"><%= event.name %></a>
        <!-- + js ecoute click sur les actives -->
      <% end %>
      <a href="#" class="tab"><i class="fas fa-plus"></i> Plan a new event</a>
    </div>
  </div>

  <!-- Current event dashboard row -->
  <div class="row">
    <div class="tab-containt">
      <!-- Should show the event licked in the tab with JS -->
      <%= render 'events/show', event: @myevents.first %>
    </div>
  </div>

</div>
