<%= simple_form_for [event, guest, answer] do |f| %>

  <h5 class="text-center">Rank themes by order of preference:</h5>
  <input class="form-control  hidden" required="required" aria-required="true" type="text" step="1" name="answer[theme_ranking]" id="answer_theme_ranking">

  <div id="simpleList" class="list-group">
    <% Choice.all.select { |choice| choice.poll_id == Poll.find_by(event_id: @event.id).id && choice.choice_type == "theme"}.each do |choice| %>
      <div data-id="<%= choice.id %>" class="list-group-item choice-theme"><%= choice.theme.name %></div>
    <% end %>
  </div>

  <h5 class="text-center">Select your availabilities:</h5>
  <div class="list-group">

  <% Choice.all.select { |choice| choice.poll_id == Poll.find_by(event_id: @event.id).id && choice.choice_type == "date"}.each do |choice| %>
    <input type="checkbox" class="hidden list-group-item choice-date" value="<%= choice.id %>" name="answer[chosen_date_ids][]" id="post_category_ids_<%= choice.id %>">
    <label class="list-group-item choice-date" for="post_category_ids_<%= choice.id %>"><%= choice.start_date.day %> <%= ["Nil", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][choice.start_date.month] %>  -  <%= choice.end_date.day %> <%= ["Nil", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][choice.start_date.month] %></label>
    <% end %>

  </div>

  <h5 class="text-center">Indicate your maximum budget:</h5>
  <input class="form-control" required="required" aria-required="true" type="number" step="1" name="answer[budget_max]" id="answer_budget_max">

  </br>

  <div class="create-answer-action">
    <%= f.submit "Submit your answer", id: "dirty-button", class: "btn-action-black-green" %>
  </div>

<% end %>
