<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<div class="wrapper">
  <div class="answer-form-1 text-center container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <% if @guest.event_id != @event.id %>
          <h2 class="text-center">Wrong event!</h2>
          <div class="not-invited"><%= image_tag "Invited.jpg", alt: "alttext", width: '350px', class:"rounded"  %></div>
        <% else %>
          <h2 class="text-center"><%= @event.name %></h2>
          <h5 class="text-center"><%= @guest.name %> you have been invited to this event by <%= @event.user.name %></h5>

          <p class="text-center"><% @event.guests.each_with_index do |guest, i| %>
            <% if i == @event.guests.count - 1 %>
              and <%= guest.name %> are invited.
            <% else %>
              <%= guest.name %>,
            <% end %>
          <% end %>
          </p>

          <% if @event.step != 1 %>
            <h5 class="text-center">Deadline expired. The host has closed the votes...</h5>
            <div class="too-late"><%= image_tag "toolate.jpg", alt: "alttext", width: '400px' %></div>

          <% else %>
            <%= render 'answers/form1', event: @event, guest: @guest, answer: @answer %>

          <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>

