<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<div class="wrapper">
  <div class="answer-form-1 text-center container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2 class="text-center"><%= @event.name %></h2>
        <h5 class="text-center">Hello <%= @guest.name %> you have been invited by <%= @event.user.name %></h5>
        <p class="text-center"><%= @event.description %></p>

        <% Choice.all.select { |choice| choice.poll_id == Poll.find_by(event_id: @event.id).id && choice.choice_type == "theme"}.each do |choice| %>
          <p><%= choice.theme.name %></p>
        <% end %>

        <%= simple_form_for [@event, @guest, @answer] do |f| %>

          <label class="form-control-label">Rank themes by order of preference:</label>
          <div id="simpleList" class="list-group">
            <div data-id="1" class="list-group-item">Beach</div>
            <div data-id="2" class="list-group-item">Skiing</div>
            <div data-id="3" class="list-group-item">Capital</div>
            <div data-id="4" class="list-group-item">Country Side</div>
          </div>

          <input class="form-control  hidden" required="required" aria-required="true" type="text" step="1" name="answer[theme-ranking]" id="answer_theme_ranking">

          <label class="form-control-label">Select your availabilities:</label>
          <div class="list-group">

            <input type="checkbox" class="hidden list-group-item choice-date" value="1" name="answer[choice_date_ids][]" id="post_category_ids_1">
            <label class="list-group-item choice-date" for="post_category_ids_1">Date 1</label>

            <input type="checkbox" class="hidden" value="2" name="answer[choice_date_ids][]" id="post_category_ids_2">
            <label class="list-group-item choice-date" for="post_category_ids_2">Date 2</label>

            <input type="checkbox" class="hidden" value="3" name="answer[choice_date_ids][]" id="post_category_ids_3">
            <label class="list-group-item choice-date" for="post_category_ids_3">Date 3</label>

          </div>

          <label class="form-control-label">Indicate your maximum budget:</label>
          <input class="form-control" required="required" aria-required="true" type="number" step="1" name="answer[budget_max]" id="answer_budget_max">

          </br>

          <div class="create-answer-action">
            <%= f.submit "Submit your answer", id: "dirty-button", class: "btn-action-black-green" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

