<div class="navbar-wagon navbar-home">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <a href="" class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#modalNewEvent">
        New trip
      </a>

      <div class="dropdown">
        <a href="", class: "navbar-wagon-item navbar-wagon-link", id: "navbar-wagon-menu", data-toggle="dropdown">My events</a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% @events.select { |event| event.user == current_user }.each do |event| %>
            <li>
              <%= link_to event.name, event_path(event) %>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <a href="", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data-toggle="dropdown"><i class="fas fa-user-circle profil-img"></i></a>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <a href="" class="navbar-wagon-item navbar-wagon-link sign-up-navbar" data-toggle="modal" data-target="#modalRegisterForm">
        Sign Up
      </a>
      <a href="" class="navbar-wagon-item navbar-wagon-link btn btn-action button-home" data-toggle="modal" data-target="#modalLoginForm">
        Login
      </a>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><a href="" class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#modalNewEvent">
          <i class="fas fa-plane-departure"></i> New trip
          </a></li>
          <li>
            <%= link_to events_path do %>
              <i class="far fa-calendar-alt"></i> My events
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% end %>
        <% if !user_signed_in? %>
          <li>
            <a href="" class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#modalLoginForm">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          </li>
          <li>
            <a href="" class="navbar-wagon-item navbar-wagon-link sign-up-navbar" data-toggle="modal" data-target="#modalRegisterForm">
              <i class="fas fa-user-plus"></i> Sign Up
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


