<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Buddy'nGo</title>
    <%= favicon_link_tag %>
    <title>Buddy'nGo - The collaborative decision-making way to plan group trips</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% if params[:controller] == "pages" %>
      <%= render 'pages/navbarhome' %>
    <% elsif params[:controller] == "answers" %>
      <%= render 'shared/header_logo' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <% unless user_signed_in? %>
      <%= render "users/registerform" %>
      <%= render "users/loginform" %>
    <% end %>
    <div class="yield-container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
